<!-- <label for="username">Username:</label>
<input type="text" placeholder="Inserisci il tuo username" [(ngModel)]="user.username">
<label for="password">Password:</label>
<input type="password" placeholder="Inserisci la password" [(ngModel)]="user.password">
<label for="password">conferma Password:</label>
<input type="password" placeholder="Inserisci la password" [(ngModel)]="user.confirmPassword">
<label for="password">email:</label>
<input type="email" placeholder="Inserisci l'email" [(ngModel)]="user.email">
<button class="btn btn-success" (click)="register()">Registrati</button>
<h1>Ciao {{ user.username }}</h1> -->
